@import "../../../styles//mixin";

.skill {
  background: var(--grey-600);
  border-radius: .3rem;
  color: #fff;
  cursor: default;
  display: flex;
  font-size: 1.6rem;
  margin: 0;
  padding: 0.4rem 0.8rem;
  
  @include devices(fromDesktop) {
    font-size: 1.2rem;
  }
}