html {
  font-size: 62.5%;
  width: 100%;
}

body {
  background: #f4f4f7;
  color: var(--grey-dark);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 5rem 0rem 10rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  width: 90%;

  @media screen and (max-width: $max-page-0) {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

h1 {
  font-size: 6.5rem;
  line-height: 1em;
  margin: 0;
}

h3 {
  font-weight: 300;
  margin: 0;
}

h4 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

a {
  color: rgba(var(--grey-rgba), 1);
  line-height: 1em;
  text-decoration: none;
  transition: color 0.3s ease-out;

  &:hover {
    color: rgba(var(--grey-rgba), .75);
  }

  i {
    color: var(--grey);
  }
}

p {
  line-height: 1.5em;
  margin: 0;
}
