section {
  margin: 0 auto;
  max-width: 100rem;
}


.section-title {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.section-title h2 {
  font-weight: 600;
  grid-column: 1 / 12;
  margin-bottom: 2.8rem;
  text-align: left;
  text-transform: uppercase;
}

@media screen and  (min-width: 102.4em) {
  .section-title h2 {
    grid-column: 2 / 12;
    margin-left: 0.8rem;
  }
}
