.experience {

  display: grid;
  margin-bottom: 4rem;
  grid-gap: 0.8rem;
  grid-template: auto auto auto / 3fr 1fr;
  grid-template-areas:
    'duration duration'
    'title extra'
    'description description';

  @media screen and (min-width: $max-page-1){
    grid-template: 4.2rem 1fr / 1fr 10fr 1fr;
    grid-template-areas:
      'duration title extra'
      '. description description';
  }
};

.experience__duration { grid-area: duration; }
.experience__title { grid-area: title; }
.experience__extra { grid-area: extra; }
.experience__description { grid-area: description; }

.experience__company {
  font-size: .75em;
  font-weight: 600;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.experience__duration {
  display: flex;
  font-size: 0.9em;

  @media screen and (min-width: $max-page-1){
    flex-direction: column;
    justify-content: space-between;
  }
}

.experience__duration-time {
  @media screen and (max-width: $max-page-0){
    &:last-of-type:not(:first-of-type) {
      &:before {
        content: 'to';
        display: inline-block;
        font-size: 0.8em;
        margin: 0 0.4rem;
      }
    }
  }
}

.experience__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.experience__role {
  font-weight: 600;
}

.experience__description {
  text-align: left;
}

.experience__tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  margin-left: -0.4rem;
}

.experience__tools li {
  background: rgba(var(--grey-rgba), 0.5);
  border-radius: .3rem;
  color: #fff;
  cursor: default;
  font-size: 1.2rem;
  margin: 0 .4rem .4rem;
  padding: 0.4rem 0.8rem;
}