@mixin hover {
  @media (any-hover: hover) {
    &:not(:disabled):hover {
      @content;
    }
  }
}

@mixin devices ($breakpoint) {
  @if $breakpoint ==mobile {
    @media only screen and (max-width: 68rem) {
      @content;
    }
  }

  @if $breakpoint ==toTablet {
    @media only screen and (max-width: 68rem) {
      @content;
    }
  }

  @if $breakpoint ==fromTablet {
    @media only screen and (min-width: 68rem) {
      @content;
    }
  }

  @if $breakpoint ==fromDesktop {
    @media only screen and (min-width: 99rem) {
      @content;
    }
  }
}

@mixin grid {
  display: grid;
  gap: 0.5rem 1rem;
  grid-template-columns: 1fr 10fr 1fr;
}

@mixin extraSection {
  flex-grow: 1;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: inside;
    margin-top: 0.5rem;

    li::marker {
      font-size: 0.7em;
    }
  }
}