.section--personal {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  max-width: 120rem;
  margin: auto;
  margin-bottom: auto;
  padding-bottom: 1.6rem;
  margin-bottom: 2rem;
}

.personal {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 8;
  text-align: left;
}

.social {
  display: flex;
  flex-direction: column;
  grid-column: 11 / 12;
  justify-content: flex-end;
  text-align: right;
}

.social li {
  display: block;
  font-size: 3rem;
}