section {
  margin: 0 auto;
  max-width: 120rem;
}


.section-title {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.section-title h2 {
  font-weight: 600;
  grid-column: 2 / 12;
  margin-bottom: 2.8rem;
  text-align: left;
  text-transform: uppercase;
}
