doctype
html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    link(rel="stylesheet" href="./styles/main.css")
    link(rel="stylesheet" href="./styles/print.css")
    script(src="https://use.fontawesome.com/0d184324a4.js")
    
    title Ana Tarrisse
  body
    div#content
        != yield