header
  .data-personal
    h1 Ana Tarrisse
    p.phone +55 21 999962313
    p.email atarrisse@gmail.com
    
  .data-contact
    ul.social
      li
        a(href='https://www.behance.net/atarrisse')
          i.fa.fa-behance-square
      li
        a(href='https://github.com/atarrisse')
          i.fa.fa-github-square
      li
        a(href='https://medium.com/@atarrisse')
          i.fa.fa-medium
  
section.work-experience-list
  .section-title
    h3 Work
    
  .section-content
    
    .work-experince
      .work-duration
        p Now
        p Jul/2017
      .work-title
        a(href="http://www.stone.com.br/")
          p.company Stone Pagamentos
        p.title Developer
      .work-description
        p At Stone I work as a developer for
          i  Point-of-Service
          |  machines. I work on the front-end, on the interface and applications of the card machine, using a framework developed by the company itself (based on 
          i  VueJS
          |  ). I am also part of a side project with the comapny's Front-End Developers for developing an unified Styleguide the shall contemplate the needs of all the teams.
        ul.tools
          li(title="Javascript") JS
          li Node
          li(title="ECMAScript 6") ES6
          li(title="Framework developed by company") Web Components
          li HTML
          li CSS (Sass)
          li Webpack
          li Git
    
    .work-experince
      .work-duration
        p Jun/2017
        p Nov/2016
      .work-title
        a(href="http://www.comidadagente.org/")
          p.company Comida da Gente
        p.title Business Analyst & Operations Manager
      .work-description
        p As a Business Analyst for
          a(href="")  Comida da Gente
          |, I’ve been taking care of operations as well as strategies for the company and the clients. Alongside with the CEO, we’ve been co-managing the operations team. I am responsible for tripling the company’s income since november. I developed new tools, from spreadsheet scripts to django applications to analyze our customers data and come up with new ideas.
          a(href="")  Comida da Gente
          |  is a initiative that regards collaborative shopping through a network of consumers and small and local producers. The clients are both shoppers and producers.
        ul.tools
          li MS Excel
          li Design Thinking
          li Crisis Handling
          li Service Design
          li Adobe Illustrator
          li Adobe Photoshop
          li Google App Scripts
          li(title="Javascript") JS
          
    .work-experince
      .work-duration
        p Nov/2016
        p Jun/2015
      .work-title
        a(href="http://www.comidadagente.org/")
          p.company Comida da Gente
        p.title Product Designer
      .work-description
        p I started working for Comida da Gente as a part of my graduation project in Design, which was the design of an online platform that would comprehend the necessities of the initiative, focusing on user experience. The project itself was highly praised and got the maximum grade. From February to November I worked alone on all the tasks regarding the platform: field research, user research, interviews with stakeholder, information architecture, strategy, navigation, sketches, wireframes, user journey, heuristics, high-fidelity prototyping, usability tests... Starting November I was promoted to business analyst due to my extensive knowledge on the business.
        ul.tools
          li Adobe Illustrator
          li Adobe Photoshop
          li HTML (Pug)
          li CSS (Sass)
          li JS (JQuery)
          li Usability Test
          li Information Architecturee
          li User Research
        
    .work-experince
      .work-duration
        p Sep/2015
        p Jun/2015
      .work-title
        p.company Smart Living Challenge
        p.title Product Designer
      .work-description
          p The SLC is a initiative from the Swedish Institute held in 3 cities worldwide in 2015. The theme for Rio was mobility and it began with an open call for ideas and a selection of the participants based on those. Throughout 12 weeks we had several meetings and worked on designing a scalable and modular conceptual project that could be implemented in the Federal University main campus in Rio. By the end of the process we presented it at the Embassy of Sweden in Brasília to relevant authorities on the field. Also, the Swedish Institute presented it as a part of their main presentation at the Sustainable Innovation Forum in Paris (COP21).
          ul.tools
            li Design Thinking
            li Product Design
            li Adobe Illustrator
            li Adobe Photoshop
            li HTML (Pug)
            li CSS (Sass)
            li JS (JQuery)
            li Entreperneurship
        
    .work-experince
      .work-duration
        p Mai/2015
        p Mai/2014
      .work-title
        a(href="http://www.hugeinc.com/")
          p.company Huge Inc
        p.title Developer
      .work-description
        p Huge is an agency focused on developing digital solutions capable of delivering good experiences and improving people’s quality  of life. As an intern I was part of a team that was in charge of prototyping the projects. I was a part of about 5 projects, including the 
          a(href="")  Galeão International Airport
          | , shopping center company
          a(href="")  Multiplan
          |  and pro-bono donation platform
          a(href="")  E-Solidario
          | .
        ul.tools
          li(title="Javascript") JS (JQuery)
          li HTML (Pug)
          li CSS (Sass)
          li Git
          li Gulp
          li Grunt
          li HarpJS
          li Node
    
    .work-experince
      .work-duration
        p Feb/2012
        p Dec/2012
      .work-title
        p.company ICE Interactive
        p.title Developer
      .work-description
        p ICE Interactive was a company incubated at COPPE-UFRJ that focused on the development of multi-touch interactive surfaces using computer vision and audio processing. I was in charge of developing the interface of one of the products. That included not only the graphics but also some of the data intelligence.
        ul.tools
          li(title="Javascript") JS (JQuery)
          li HTML
          li CSS
          li Git
          li(title="Google Web Toolkit") GWT
          li Java


section.education
  .section-title
    h3 Education
    
  .section-content
    
    .work-experince
      .work-duration
        p Mar/2008
        p Jun/2016
      .work-title
        a(href="https://ufrj.br/")
          p.company UFRJ
        p.title BA Electronics and Computing Engineering
      .work-website
        p GPA
        p 7.2
          span / 10
      .work-description
        p During my time studying engineering I got involved in several extra activities. I organized events, such as "Electronics Week", with lectures and workshops for students of the Electronics Department. Also organized Summer Courses for the community, of subjects such as Arduino. I worked as professor assistant for the subjects of
          i  Technical Drawing
          |  for over 2 years and
          i  Electronics III
          |  for a semester.
    .work-experince
      .work-duration
        p Mar/2006
        p Nov/2015
      .work-title
        a(href="http://www.uerj.br/")
          p.company UERJ
        p.title BA Design
      .work-website
        p GPA
        p 8
          span / 10
      .work-description
        p From the begining I got involved with the school, becoming class representative. I had the opportunity of being part os extra-curricular acitivities, such as being staff of the IV International Congress of Research in Design in 2017, as well as of the exhibit
          i  Japanese Design Today 100
          | , both under supervision of professors from the university. I've also worked as a teacher's assistant for the class of
          i Photography I 
          |  and 
          i  Photography II
          | in 2010.
    .work-experince
      .work-duration
        p Jan/2013
        p Dec/2013
      .work-title
        a(href="http://www.gold.ac.uk/")
          p.company Goldsmiths College
        p.title BA Creative Computing
      .work-website
        p GPA
        p 3.96
          span / 5
      .work-description
        p I've been awarded a full-scholarship from the Brazilian Government, within the
          i  Science Without Borders
          |  program to attend Goldsmiths College for one full year. There, during the summer, I assist PhD student Nicky Donald to develop his project. We worked with Arduino, Processing, Java and DMX to build an interactive room in the university's attic.
          
          
section.idioms
  .section-title
    h3 Idioms
    
  .section-content
    ul.idiom-list
      li.idiom
        p.lang(title="Portuguese") PT
        p.level fluent
      li.idiom
        p.lang(title="English") EN
        p.level fluent
      li.idiom
        p.lang(title="French") FR
        p.level B1
      li.idiom
        p.lang(title="German") DE
        p.level A2.2
