@import "../../styles/_mixin";

.sectionItem {
  text-align: left;
  
  @include devices(toTablet) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @include devices(fromDesktop) {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }
}

.content {
  @include devices(fromDesktop) {
    @include grid;
    margin: 1rem 0;
  }

  .description,
  .extras {
    grid-column: 2 / 3;
  }
  
  .extras {
    display: flex;
    margin-top: 1rem;
  }
}
