@import "../../styles/_mixin";

.sectionItem {
  text-align: left;
  
  @include devices(toTablet) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  @include devices(fromDesktop) {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }
}

.button {
  margin: 0;
  width: 100%;

  @include devices(fromDesktop) {
   @include grid; 
  }
}

@include devices(fromDesktop) {
  .subtitle {
    order: 1;
  }
  
  .title {
    order: 2;
  }
}

.timeframe {
  font-size: 1.2rem;
  grid-row: 1 / 2;
  text-align: right;
  
  @include devices(toTablet) {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2rem;
    justify-content: start;
    gap: 1ch;

    p:last-of-type:after {
      content: "~";
      margin-left: 1ch;
    }
  }

  @include devices(fromDesktop) {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    height: 100%;
    margin-top: 0.3rem;
  }
}

.title { 
  font-size: 2.2rem;
  line-height: 1em;
  
  @include devices(toTablet) {
    font-size: 1.2em;
    gap: 0.8rem;
  }
  
  @include devices(fromDesktop) {
      grid-row: 1 / 2;
    }
}

.subtitle {
  font-size: 0.9em;
  line-height: 1;

  @include devices(fromDesktop) {
    grid-row: 2 / 3;
  }
}

.grade {
  font-weight: 700;
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  text-align: right;

  span {
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 0.5ch;
  }

  @include devices(fromDesktop) {
    grid-row: 1 / 3;
  }
}

.content {
  @include devices(fromDesktop) {
    @include grid;
    margin: 1rem 0;
  }

  .description,
  .extras {
    grid-column: 2 / 3;
  }
  
  .extras {
    display: flex;
    margin-top: 1rem;

    .extra {
      flex-grow: 1;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      list-style: inside;
      margin-top: 0.5rem;

      li::marker {
        font-size: 0.7em;
      }
    }
  
  }
}

.footer {
  @include devices(fromDesktop) {
      @include grid;
    }
  
    .skills {
      grid-column: 2 / 3;
      margin-top: 1rem;
    }
}

