@import "../../styles/_mixin";

.header {
  margin-bottom: 5rem;
  text-align: left;
  
  @include devices(toTablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @include devices(fromDesktop) {
    display: grid;
    grid-template-columns: 1fr 7fr 3fr 1fr;
    grid-template-rows: min-content auto;
    row-gap: 1rem;
  }
}

.title {
  text-align: center;
  
  @include devices(toTablet) {
    margin-bottom: 1.5rem;
  }
  
  @include devices(fromDesktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: left;
  }
}

.personal {
  text-align: center;

  @include devices(fromDesktop) {
    align-self: end;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    text-align: right;
  }
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1em;

  @include devices(toTablet) {
    justify-content: center;
    margin: 3rem 0;
  }
  
  @include devices(fromDesktop) {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.data {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

