$grey: #939597
$grey-dark: #444

html
    font-size: 62.5%

body
  background: #f4f4f7
  color: $grey-dark
  font-family: 'Source Sans Pro', sans-serif
  font-size: 1.6rem
  margin: 0
  padding: 5rem 2rem 0
  text-align: center

h1
  font-size: 6.5rem
  line-height: 1em
  margin: 0
//  border-bottom: #CCC solid .1rem
//  padding: 2rem 0

h3
  font-weight: 300

ul
  list-style-type: none
  margin: 0
  padding: 0
  
  li
    margin: 0
  
a
  border-bottom: 2px solid rgba($grey, .5)
  color: $grey
  line-height: 1em
  padding-bottom: .1rem
  text-decoration: none
    
  &:hover
    opacity: .8
    
  i
    color: $grey
    
p
  line-height: 1.5em
  margin: 0
    
    
    