@import 'reset'

ul.social
  margin-top: .4rem
  
  li
    display: inline-block
    font-size: 3.6rem
    margin: 0 .8rem
        
    &:first-of-type
        margin-left: 0
  
    &:last-of-type
        margin-right: 0
    
    
            
header
  //border-bottom: 1px solid $grey-dark
  display: grid
  grid-template-columns: 3fr 1fr
  max-width: 120rem
  margin: auto
  padding-bottom: 1.6rem
  margin-bottom: 2rem
  
  h1
    margin-bottom: .8rem
  
  div
    display: flex
    flex-direction: column
    justify-content: flex-end
    
    &.data-personal
      text-align: left
      
    &.data-contact
      text-align: right
      
    //h3
      font-weight: 600
      text-align: left
      text-transform: uppercase

section
  max-width: 120rem
  margin: 0 auto
  .section-title
    display: grid
    grid-template-columns: 1fr 11fr
    
    h3
      font-weight: 600
      grid-column-start: 2
      grid-column-end: 12
      margin-bottom: 2.8rem
      text-align: left
      text-transform: uppercase


.work-experince
  margin-bottom: 3rem
  
  .work-header
    display: grid
    grid-template-columns: 1fr 9fr 2fr
    margin-bottom: .8rem

    .work-duration,
    .work-title
      text-align: left

    .work-title
      display: flex
      
    .work-website
      text-align: right

    p.title
      border-right: 1px solid $grey-dark
      font-weight: 600
      margin-right: 1.2rem
      padding-right: 1.2rem
  
  .work-description
    display: grid
    grid-template-columns: 1fr 11fr
    text-align: left
    > p
      grid-column-start: 2
      grid-column-end: 12